#editor,#preview{
    width: 40%;
    margin: auto;
}



#work-area{
    display: flex;
    margin: auto;
    width: 90%;
}

body{
    background-color: gainsboro;
}

#app > h1{
    text-align: center;
}

#preview-text{
    border: 1px solid black;
    padding: 1rem;
    height: 50vh;
    overflow-y: auto;
}

@media screen and (max-width: 1200px) {
    #work-area{
        display: block;
        width: 100%;
    }

    #editor{
        width: 100%;
        margin: auto;
    }

    #editor >textarea, #editor>h2{
        width: 90%;
        margin: auto;
        display: block;
    }

    #editor>h2{
        margin-bottom: 1rem;
    }

    #preview,#preview-text{
        width:90%;
        margin: auto;
    }
}